.arrow_box {
    background: white;
    box-shadow: 0px 0px 20px #50459E33;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Ubuntu;
    color: #2F2D32;
    opacity: 1;
    min-width: 117px;
    min-height: 42px;
    flex-direction: row;
}

.arrow_box .text {
    font-size: 16px;
    font-family: Ubuntu;
    font-style: italic;
    margin-left: 10px;
}

#container {
    display: flex;
    align-items: center;
    background: transparent;
}

#arrow {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-90deg);
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);

}