#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#container-wait {
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: 117px;
    box-shadow: 0px 10px 20px #0000001A;
    opacity: 1;
    border-radius: 10px;
    padding: 8px 12px;
}

.container-w {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    background: rgb(255, 255, 255);
    width: 100%;

}

.container-w h3 {
    font-family: Ubuntu;
    font-style: italic;
    letter-spacing: 0.56px;
}

.arrow-box-set {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow-box-set span {
    font-family: Ubuntu;
    font-weight: bold;
    opacity: 1;
    font-size: 14px;
    color: #2F2D32;
}


.arrow_box-await {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.arrow_box-await p {
    color: #2F2D32;
    font-family: Ubuntu;
    font-weight: bold;
    letter-spacing: 0.64px;
    font-size: 16px;
}

.arrow_box-await-two {
    color: #2F2D32;
    font-family: Ubuntu;
    font-weight: bold;
    letter-spacing: 0.64px;
    font-size: 16px;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #F3F5F6;

}

.arrow_box-await-two h3 {
    font-family: Ubuntu;
    font-style: italic;
    letter-spacing: 0.56px;
    font-weight: normal;
    font-size: 14px;
}

.arrow_box-await-two {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;

}

.text {
    color: #2F2D32;
    font-family: Ubuntu;
    font-size: 16px;
    letter-spacing: 0.64px;
    font-weight: normal;
}