.arrow_box-container {
    background: white;
    box-shadow: 0px 0px 20px #50459E33;
    border-radius: 6px;
    opacity: 1;
    font-size: 20px;
    font-family: Ubuntu;
    color: #2F2D32;
    opacity: 1;
    min-width: 117px;
    min-height: 42px;
    padding: 8px 12px;

}

.arrow_box-info{
    font-size: 20px;
    /* margin-left: 10px; */
    font-weight: bold;
}

.arrow_box-info .text {
    font-size: 16px;
    font-family: Ubuntu;
    font-style: italic;
    margin-left: 10px;
}

#container {
    display: flex;
    align-items: flex-start;
    background: transparent;
}

#arrow {
    margin-top: 12px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-90deg);
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);

}